<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
  </head>
  <body>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" name="imageFile" id="imageFile" accept="image/*" />
      <input type="submit" value="Upload Image" />
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#uploadForm").submit(function (event) {
          event.preventDefault();
          var formData = new FormData();
          var inputFile = $("#imageFile")[0].files[0];

          if (!inputFile) {
            alert("Please select an image file.");
            return;
          }

          // Check if the selected file is an image
          if (!inputFile.type.match("image.*")) {
            alert("Please select only image files.");
            return;
          }

          formData.append("imageFile", inputFile);

          $.ajax({
            url: "/upload",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              alert(response.filename);
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
